<% content_for :title, "Edit #{@organisation.name}" %>
<% content_for :breadcrumb do %>
  <% if current_user.super_admin? %>
    <%= link_to 'Organisations', organisations_path %>
    <span class="breadcrumb-sep">/</span>
  <% end %>
  <%= link_to @organisation.name, organisation_path(@organisation) %>
  <span class="breadcrumb-sep">/</span>
  <span class="breadcrumb-current">Edit</span>
<% end %>

<div class="page-header">
  <div>
    <div class="page-title">Edit Organisation</div>
    <div class="page-subtitle">Update details for <strong style="color:var(--text)"><%= @organisation.name %></strong></div>
  </div>
</div>

<%= form_with model: @organisation, local: true do |f| %>
  <div class="form-card">
    <%= render 'form', organisation: @organisation, f: f %>
    <div class="form-actions">
      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', organisation_path(@organisation), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
